.table_data {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    font-family: font;
}

.all_contacts{

font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

.count{
    font-size: 20px;
    color: #735a73;
    margin-top: 20px;
    margin: 2% auto;
    float: right;
    padding-right: 30px;
    font-family: font;
    color: #ff3535;
}

.table_row:nth-child(even) {
    background: rgb(214, 214, 214);
}

.main_buttons{
    float: right;
    padding: 1%;
    margin-top: 1%;
    margin-right: 2%;
    background: black;
    position: fixies;
    border-radius: 10px;
    box-shadow: gray;
    font-family: font;
    color: white;
    cursor: pointer;
}

.headers{
    font-size: 32px;
    font-family: font;
    text-align: center;
    display: block;
    width: 21%;
    margin: 0;
}


.buttonSend{
    float: right;
}

.add_new_header{
    font-size: 24px;
    font-family: font;
    text-align: center;
    display: block;
    margin: 0;
}
.add_new_form{
    text-align: center;
    z-index: -9999;
}
.add_new{
    overflow: auto;
}

.list_input {
	text-indent: 2%;
	outline: none;
    padding: 10px 0px;
    font-size: 14px;
    margin: 5px 0px;
    border: solid 1px #735a73;
    border-radius: 10px;
}

.list_input:focus::-webkit-input-placeholder {
	color: transparent;
}

.list_input:focus:-moz-placeholder {
	color: transparent;
}

.list_input:focus::-moz-placeholder {
	color: transparent;
}

.list_input:focus:-ms-input-placeholder {
	color: transparent;
}
